page-login {

  ion-grid {
    margin-top: 4em;
    min-width: 15rem;
    max-width: 45rem;

    button {
      text-transform: none !important;
    }

    ion-item {
      border: none !important;
      box-shadow: none !important;

      &.input-has-focus {

        ion-label {
          color: black !important;
        }

        .item-inner {
          border-bottom: 1px solid black !important;
        }
      }

      ion-label {
        color: #999;
      }

      .item-inner {
        border-bottom: 1px solid #dedede !important;
        box-shadow: none !important;
      }
    }
  }

}
