<ion-header>
  <ion-navbar>
    <ion-title (click)="goToProfile()">{{anotherUserName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scrollDownOnLoad (ionScroll)="logScrolling($event)">

  <div *ngFor="let message of messages; let i=index;"
       [ngClass]="[
            'message',
            message?.from == myId ? 'messageRight' : 'messageLeft',
            messages[i+1]?.from != message?.from ||
            (message?.timestamp | date: 'ddMMyyyy') != (messages[i+1]?.timestamp | date: 'ddMMyyyy') ||
             messagesNotReaded > 0 && messages[i]?.readed != messages[i+1]?.readed ?
            'last' : ''
          ]"
       (click)="messageTapped(message)">

    <div class="info notReadedMessages"
         *ngIf="messagesNotReaded != 0 && !messages[i]?.readed && messages[i-1]?.readed != messages[i]?.readed">
      <div *ngIf="messagesNotReaded == 1; else many">{{messagesNotReaded}} new message</div>
      <ng-template #many><div>{{messagesNotReaded}} new messages</div></ng-template>
    </div>

    <div class="info date"
         *ngIf="(message?.timestamp | date: 'ddMMyyyy') != (messages[i-1]?.timestamp | date: 'ddMMyyyy')">
      <div>
        {{message?.timestamp | date: 'd/M/yyyy'}}
      </div>
    </div>

    <div class="innerMessage">
      <div class="messageContent">{{message?.text}}&emsp;&emsp;&ensp;</div>
      <div class="messageTimestamp">{{message?.timestamp | date: 'HH:mm'}}</div>
    </div>
  </div>

</ion-content>


<ion-footer [class.translateTop]="!internetAvailable">
  <div [hidden]="!anotherUserIsTyping" id="wave">
    <!--  <div id="wave">-->
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <ion-toolbar>
    <ion-input type="text" [(ngModel)]="inputMessage"(keyup.enter)="sendMessage()"></ion-input>
    <ion-buttons end>
      <button [disabled]="inputMessage < 1" ion-button icon-only (click)="sendMessage()">
        <!--<button ion-button icon-only (click)="sendMessage()">-->
        <ion-icon name="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
