category-nav {
  ion-slides {
    width: 100%;
    overflow-x: scroll;

    button {
      border-radius: 50% !important;
      height: 50px !important;
      width: 50px !important;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: center;
    }

  }

}
