category-nav {
    ion-slides{
        width: 100%;
        overflow-x: scroll;
 
        button{
            margin:0;
            padding: 0;
            width: 100%;
            overflow: hidden;
        }

    }
}