<ion-header>
  <ion-navbar>
    <ion-title>{{user?.name}}</ion-title>
    <ion-buttons *ngIf="iAm" end>

<!--      <button ion-button icon-only (click)="modifyProfile(user)">-->
<!--        <ion-icon name="ios-create-outline"></ion-icon>-->
<!--      </button>-->

      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>




  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card text-center>

    <ion-item class="profilePicture" text-wrap>
      <ion-label>
        <!--        <cl-image *ngIf="user?.photo != null" public-id="{{user?.photo}}">-->
        <!--          <cl-transformation height="150" width="150"></cl-transformation>-->
        <!--        </cl-image>-->
        <cl-image public-id="samples/people/bicycle.jpg">
          <cl-transformation gravity="face" height="500" width="500" crop="thumb">
          </cl-transformation>
        </cl-image>
      </ion-label>
    </ion-item>

    <button float-right
            class="chat-icon"
            (click)="openChat()"
            ion-fab
            color="primary"
            *ngIf="!iAm">
      <ion-icon name="ios-text"></ion-icon>
    </button>

    <div class="userInfo"
         [ngClass]="{'myProfile': iAm}">
      <ion-item text-wrap>
        <ion-label><strong>Name: </strong>
          {{user?.name}}
        </ion-label>
      </ion-item>

      <ion-item text-wrap>
        <ion-label><strong>Last Name: </strong>
          {{user?.lastName}}
        </ion-label>
      </ion-item>

      <ion-item text-wrap>
        <ion-label><strong>Email: </strong>
          {{user?.email}}
        </ion-label>
      </ion-item>
    </div>

<!--    <button-->
<!--      (click)="signOut()"-->
<!--      class="signOutBtn"-->
<!--      ion-button-->
<!--      round-->
<!--      color="danger"-->
<!--      *ngIf="iAm">-->
<!--      &lt;!&ndash;        <ion-icon name="close"></ion-icon>&ndash;&gt;-->
<!--      Sign Out-->
<!--    </button>-->

  </ion-card>
</ion-content>



