page-profile {
  ion-content{
    background-color: #EBEBEB !important;
  }
  ion-card{
    border-radius: 10px !important;
    margin-top: 30px !important;
  }
  .item-inner{
    margin-left: 5px !important;
    margin-right: 20px;

  }
  img{
    width: 360px;
    height: 180px;
  }
}
