page-home {

  & * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  .scroll-content {
    padding: 16px 5px !important;

    ion-col {

      ion-card {
        border-radius: 10px !important;
        margin: 0 !important;
        width: 100% !important;

        ion-card-content {
          padding: 5px 16px;
        }

        .product-name {
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }

        .product-price {
          font-style: italic;
        }
      }
    }
  }
}
