page-home {

  ion-slides {
    //z-index: 1;
  }

  .header-md::after {
    background: none;
  }

  & * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  .scroll-content {
    padding: 16px 5px !important;
    margin-top: 56px !important;

    ion-col {
      img{
        width: 167.5px;
        height: 167.5px;
      }
      ion-card {
        border-radius: 10px !important;
        margin: 0 !important;
        width: 100% !important;
        height: 223px !important;

        ion-card-content {
          padding: 5px 16px;
        }

        .product-name {
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }

        .product-price {
          font-style: italic;
        }
      }
    }
  }
}
