<!-- Generated template for the ModalComponent component -->
<ion-content
  padding
  (mouseup)="closeModal()"
>

  <ion-card [ngClass]="{'padding' : userLogged}">

    <ion-thumbnail slot="start">
      <cl-image *ngIf="product?.img != null" public-id="{{product.img}}">
        <cl-transformation height="150" width="150"></cl-transformation>
      </cl-image>
    </ion-thumbnail>

    <ion-card-content>

      <ion-row>
        <ion-col>
          <h2><strong>{{product.name}}</strong></h2>
          <p>{{product.description}}</p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="userLogged" class="modal-buttons">
        <ion-col id="profile-button" textvend-center col-6>
          <ion-icon
            [name]="profileButton? 'ios-person' : 'ios-person-outline'"></ion-icon>
        </ion-col>
        <ion-col id="chat-button" text-center col-6>
          <ion-icon
            [name]="chatButton? 'ios-chatbubbles' : 'ios-chatbubbles-outline'"></ion-icon>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>

</ion-content>
