<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{user?.name}}'s comments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="user_comments">
  <ion-card *ngFor="let opinion of user_comments">
    <ion-item text-wrap>
      <ion-label> <strong>Title: </strong>
        {{opinion?.title}}
      </ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label> <strong>Opinion: </strong>
        {{opinion?.comment}}
      </ion-label>
    </ion-item>
    <ion-item text-wrap>
      <ion-label color="gray" text-right>
        {{opinion?.date | date: 'dd MMM. yyyy'}}
      </ion-label>
    </ion-item>
  </ion-card>
<!--
  <ion-fab *ngIf="userLoggedIn && !iAm" bottom right>-->
  <ion-fab *ngIf="userLogged && !iAm" bottom right>
    <button (click)="goToForm()" color="dark" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!--<ion-content padding>

  <ion-list>
    <div *ngFor="let item of user_comments">
      <ion-card>
        <ion-card-header>
          <ion-card-title><p class="comment-title">{{item.title}}</p></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p class="comment-text">{{item.comment}}</p>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-list>

  <ion-fab bottom right>
    <button (click)="goToForm()" color="dark" ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>-->
